<div class="container mt-5 mb-5" *ngIf="!status">
  You are not the user of this class
</div>
<div class="container" *ngIf="status">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      <div class="row" *ngIf="currentUser == 'teacher'">
        <div
          class="col-md-12 mb-3"
          *ngFor="let teacher of teacherClass"
          [class]="teacher"
        >
          <div class="teacher_head">
            <h1>
              {{ teacher.data().subject }} ({{ teacher.data().className }})
            </h1>
            <hr class="hr_line" />
            <div class="row">
              <div class="col-sm-6">
                <h4>
                  {{ teacher.data().email }}
                </h4>
              </div>
              <div class="col-sm-6">
                <h4>
                  <span>( {{ teacher.data().cCode }} )</span>
                </h4>
              </div>
            </div>
            <hr class="hr_line" />
            <div class="row">
              <div class="col-12">
                <h4>{{ teacher.data().name }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="currentUser == 'student'">
        <div
          class="col-md-12 mb-3"
          *ngFor="let student of currentStudent"
          [class]="student"
        >
          <div class="teacher_head">
            <h1>
              {{ student.data().subject }} ({{ student.data().className }})
            </h1>
            <hr class="hr_line" />
            <div class="row">
              <div class="col-6">
                <h4>
                  {{ temail }}
                </h4>
              </div>
              <div class="col-6"></div>
            </div>
            <hr class="hr_line" />
            <div class="row">
              <div class="col-12">
                <h4>You: {{ student.data().name }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row" *ngIf="currentUser == 'teacher'">
          <div class="col-md-12 bg-light">
            <h6 class="mt-2 mb-2">Share With Class</h6>
            <div class="alert alert-success" *ngIf="addNotice.length > 0">
              {{ addNotice }}
            </div>
            <form
              [formGroup]="noticeForm"
              (ngSubmit)="createNotice(noticeForm)"
            >
              <textarea
                class="mt-3 form-control"
                rows="3"
                [formControl]="noticeForm.controls['content']"
                placeholder="Type and share with everyone..."
              >
              </textarea>
              <button
                class="btn btn-primary btn-block mt-2 mb-3"
                [disabled]="!noticeForm.valid"
              >
                Send
              </button>
            </form>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-12">
            <p>
              <button
                class="btn btn-dark btn-block"
                type="button"
                data-toggle="collapse"
                data-target="#collapseExample"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                All Notices <i class="fas fa-chevron-down"></i>
              </button>
            </p>
            <div class="alert alert-success" *ngIf="deleteNotice1.length > 0">
              {{ deleteNotice1 }}
            </div>
            <br />
            <div
              class="collapse mb-4 mt-2"
              id="collapseExample"
              style="font-size: 14px"
            >
              <div
                class="card card-body p-2 mt-1"
                *ngFor="let notice of notices"
                [class]="notice"
              >
                <p>{{ notice.data().content }}</p>
                <p style="color: rgb(73, 73, 248)">
                  {{
                    notice.data().created.toDate()
                      | date: "MMM dd, yyyy (h:mm a)"
                  }}
                  <button
                    *ngIf="currentUser == 'teacher'"
                    class="btn btn-danger float-right"
                    (click)="deleteNotice(notice.id)"
                    style="font-size: 14px"
                  >
                    Remove
                  </button>
                </p>
              </div>
              <p class="mt-3" style="text-align: center">Notices Appear Here</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-bottom: 200px">
        <div class="col-md-12">
          <nav>
            <div
              class="nav nav-tabs d-flex justify-content-center"
              id="nav-tab"
              role="tablist"
            >
              <a
                class="nav-link active"
                id="nav-home-tab"
                data-toggle="tab"
                href="#nav-home"
                role="tab"
                aria-controls="nav-home"
                aria-selected="true"
                >People ({{ totalStudents }})</a
              >
              <a
                class="nav-link"
                id="nav-profile-tab"
                data-toggle="tab"
                href="#nav-profile"
                role="tab"
                aria-controls="nav-profile"
                aria-selected="false"
                >Content</a
              >
              <a
                class="nav-link"
                id="nav-contact-tab"
                data-toggle="tab"
                href="#nav-contact"
                role="tab"
                aria-controls="nav-contact"
                aria-selected="false"
                >Assign</a
              >
              <a
                class="nav-link"
                id="nav-req-tab"
                data-toggle="tab"
                href="#nav-req"
                role="tab"
                aria-controls="nav-req"
                aria-selected="false"
                *ngIf="currentUser == 'teacher'"
                >Req ({{ totalrequests }})</a
              >
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active"
              id="nav-home"
              role="tabpanel"
              aria-labelledby="nav-home-tab"
            >
              <!-- Students List Start -->
              <div class="row class_students">
                <h6 class="student_text mt-4">
                  Students ({{ totalStudents }})
                </h6>
                <br />
                <div
                  class="alert alert-success mt-2 mb-4"
                  *ngIf="deleteSt.length > 0"
                >
                  {{ deleteSt }}
                </div>
                <hr class="hr_line" />
                <div
                  class="col-md-6"
                  *ngFor="let student of studentClass"
                  [class]="student"
                >
                  <div class="container-fluid p-1">
                    <div class="row student_card">
                      <div class="col-3 student_logo">
                        <img src="/assets/user logo.png" />
                        <div
                          *ngFor="let teacher of teacherClass"
                          [class]="teacher"
                        >
                          <button
                            class="btn btn-danger view_btn p-1"
                            *ngIf="currentUser == 'teacher'"
                            (click)="deleteStudent(student.id)"
                            style="font-size: 10px"
                          >
                            Remove
                          </button>
                        </div>
                      </div>
                      <div class="col-9 student_detail">
                        <h4>
                          <b>{{ student.data().name }}</b>
                        </h4>
                        <hr class="hr_line" />
                        <h5>{{ student.data().email }}</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Students List End -->
            </div>
            <div
              class="tab-pane fade"
              id="nav-profile"
              role="tabpanel"
              aria-labelledby="nav-profile-tab"
            >
              <!-- Material Starts -->
              <div *ngIf="currentUser == 'teacher'">
                <div class="row">
                  <div class="col-md-12 mt-4" style="text-align: center">
                    <h6>Add Material</h6>
                    <form
                      [formGroup]="materialForm"
                      (ngSubmit)="createMaterial(materialForm)"
                    >
                      <div class="row">
                        <div class="col-md-6">
                          <h6 class="mt-2">Material Description</h6>
                          <input
                            type="text"
                            class="form-control add_con"
                            placeholder="Explaination of Material"
                            [formControl]="
                              materialForm.controls['material_des']
                            "
                          />
                        </div>
                        <div class="col-md-6">
                          <h6 class="mt-2">Material Link</h6>
                          <input
                            type="text"
                            class="form-control add_con"
                            placeholder="Link of Material"
                            [formControl]="
                              materialForm.controls['material_link']
                            "
                          />
                          <button
                            type="submit"
                            [disabled]="!materialForm.valid"
                            class="btn btn-primary btn-block mt-2 mb-3"
                          >
                            Add
                          </button>
                          <div
                            class="alert alert-success"
                            *ngIf="addMaterial.length > 0"
                          >
                            {{ addMaterial }}
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>

              <div class="container-fluid mt-2" style="text-align: center">
                <h6>Materials Added</h6>
                <table class="table table-bordered mt-1">
                  <div
                    class="alert alert-warning"
                    *ngIf="deleteSuccess.length > 0"
                  >
                    {{ deleteSuccess }}
                  </div>
                  <thead>
                    <tr>
                      <th scope="col">Description</th>
                      <th scope="col">Link</th>
                    </tr>
                  </thead>
                  <tr *ngFor="let content of material" [class]="content">
                    <td>{{ content.data().desc }}</td>
                    <td style="text-align: center">
                      <a
                        href="{{ content.data().link }}"
                        class="btn btn-success mt-1 ml-2"
                        target="_blank"
                        style="font-size: 11px"
                        >View</a
                      >
                      <button
                        *ngIf="currentUser == 'teacher'"
                        (click)="deletematerial(content.id)"
                        class="btn btn-danger mt-1 ml-2"
                        style="font-size: 11px"
                      >
                        Remove
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- Material Ends -->
            <div
              class="tab-pane fade"
              id="nav-contact"
              role="tabpanel"
              aria-labelledby="nav-contact-tab"
            >
              <!-- Assignment Starts -->
              <div *ngIf="currentUser == 'teacher'" class="mt-4">
                <h6 style="text-align: center">Create Assignment</h6>
                <form
                  [formGroup]="assignmentForm"
                  (ngSubmit)="createAssignment(assignmentForm)"
                >
                  <div class="row">
                    <div class="col-md-6">
                      <small style="text-align: center">Assignment Name</small>
                      <input
                        type="text"
                        class="form-control mt-2"
                        placeholder="Assgnment Name"
                        [formControl]="assignmentForm.controls['name']"
                      />
                    </div>
                    <div class="col-md-6">
                      <small style="text-align: center">Due Date</small>
                      <input
                        type="date"
                        class="form-control mt-2"
                        [formControl]="assignmentForm.controls['currentDate']"
                      />
                    </div>
                  </div>

                  <textarea
                    class="form-control mt-2"
                    rows="4"
                    placeholder="Assignment Description"
                    [formControl]="assignmentForm.controls['desc']"
                  ></textarea>
                  <button
                    class="btn btn-block btn-info mt-2 mb-2"
                    [disabled]="!assignmentForm.valid"
                  >
                    Create Assignment
                  </button>
                </form>
                <div class="alert alert-success" *ngIf="Assignment.length > 0">
                  {{ Assignment }}
                </div>
              </div>
              <div class="row mt-4 mb-4">
                <div class="col-md-12">
                  <h4 style="text-align: center">Assignments Appear Here</h4>
                  <div
                    *ngFor="let assignment of assignment_list"
                    [class]="assignment"
                    class="Assign mt-3"
                  >
                    <h6>{{ assignment.data().name }}</h6>
                    <hr />
                    <p style="font-size: 12px">{{ assignment.data().desc }}</p>
                    <hr />
                    <div class="row">
                      <div class="col-sm-6">
                        <p><b>Due Date: </b>{{ assignment.data().dueDate }}</p>
                      </div>
                      <div class="col-sm-6">
                        <p style="color: rgb(79, 79, 196)">
                          <b>Created On: </b>
                          {{
                            assignment.data().createDate.toDate()
                              | date: "MMM dd, yyyy (h:mm a)"
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6"></div>
                      <div class="col-sm-6">
                        <button
                          class="btn btn-primary btn-block"
                          routerLink="/assignment/{{
                            assignment.data().assignmentId
                          }}"
                        >
                          View Details
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Assignment Ends -->
            </div>
            <div
              class="tab-pane fade"
              id="nav-req"
              role="tabpanel"
              aria-labelledby="nav-req-tab"
            >
              <h6 class="mt-2 mb-2">Requests</h6>
              <div *ngIf="allowMessage.length > 0" class="alert alert-success">
                {{ allowMessage }}
              </div>
              <hr />
              <div class="table-responsive">
                <table class="table table-bordered">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                  </tr>
                  <tr *ngFor="let req of requests" [class]="req">
                    <td>{{ req.data().name }}</td>
                    <td>{{ req.data().email }}</td>
                    <td>
                      <button
                        class="btn btn-success btn-block"
                        (click)="allowStudent(req.id)"
                      >
                        Allow
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
              <!-- Requests Starts -->
              <!-- Requests Ends -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
