.teacher_head {
  width: 100%;
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  box-shadow: 2px 2px 5px grey, -2px -2px 5px lightgray;
  letter-spacing: 1.5px;
}
div {
  font-family: "poppins", sans-serif;
}
.teacher_head h1 {
  text-align: left;
  font-size: 25px;
  margin-bottom: 15px;
  font-weight: 700;
}
.teacher_head h4 {
  font-size: 22px;
  text-align: left;
}
.teacher_head span {
  font-weight: 700;
}
.hr_line {
  background-color: rgb(94, 105, 255);
  border-width: 2px;
  width: 100%;
}
.student_text {
  font-size: 36px;
  line-height: 36px;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.student_logo img {
  width: 40px;
  height: auto;
}
.student_logo {
  padding: 10px;
  text-align: center;
  border-style: solid;
  border-width: 0px;
  border-right-width: 1px;
  border-color: grey;
}
.student_detail {
  padding: 10px;
}
.student_detail h4 {
  font-size: 22px;
}
.student_detail h5 {
  font-size: 19px;
}
.student_card {
  padding: 20px;
  box-shadow: 1px 1px 3px grey, -1px -1px 3px lightgray;
  border-radius: 10px;
}
.student_main_card {
  padding: 40px;
}
.view_btn {
  border-radius: 50px;
  font-size: 12px;
}
/* Nav CSS */
.nav-tabs {
  margin: auto;
  letter-spacing: 2px;
  font-size: 25px;
  padding: 10px;
}
.nav-link {
  background-color: #fefefe;
}
/* Nav CSS Ens */
.add_con {
  padding: 20px;
}
.Assign {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px gray, -2px -2px 5px lightgrey;
}
@media only screen and (max-width: 1000px) {
  .nav-tabs {
    font-size: 14px;
    letter-spacing: 0px;
    padding: 0px;
  }
  .nav-link {
    padding: 5px;
  }
  .teacher_head {
    letter-spacing: 0px;
    padding: 15px;
  }
  .teacher_head h1 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  .teacher_head h4 {
    font-size: 16px;
  }
  .teacher_head span {
    font-weight: 600;
  }
  .hr_line {
    border-width: 1px;
  }
  .student_detail h4 {
    font-size: 15px;
  }
  .student_detail h5 {
    font-size: 12px;
  }
  .student_logo {
    padding: 0px;
  }
  .student_card {
    padding: 5px;
  }
  .student_main_card {
    padding: 5px;
  }
}
