<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <img
        class="align-middle mt-2 mr-1 mb-2"
        width="100%"
        src="/assets/classroom.jpg"
      />
    </div>
    <div class="col-lg-6">
      <app-signup></app-signup>
    </div>
  </div>
  <div class="container mt-5 mb-5">
    <h6 style="text-align: center">
      Scroll down for features <i class="fas fa-chevron-down"></i>
    </h6>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <h4 style="text-align: center">Create and Join Features</h4>
      <img src="/assets/1.png" style="width: 100%; height: auto" />
    </div>
    <div class="col-md-6">
      <ul>
        <li>
          Create Class with
          <ul>
            <li>Class Name</li>
            <li>Subject</li>
          </ul>
        </li>
        <br />
        <li>
          Join Class with
          <ul>
            <li>Class Code ( As shared by the teacher )</li>
            <li>
              Teacher Name ( Enter Teacher Name according to your convenience.
              <br />
              To easily itentify class.)
            </li>
            <li>Subject (Enter Subject Name according to your convenience)</li>
            <br />
            <li>
              When user join the class, it sends a request to the class owner to
              allow the user in the class
            </li>
            <li>In the top user can see the requests send for classes.</li>
            <li>User can withdraw requests for classes that send earliar.</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6">
      <h4 style="text-align: center">Created and Joined Classes</h4>
      <img src="/assets/2.png" style="width: 100%; height: auto" />
    </div>
    <div class="col-md-6">
      <ul>
        <li>
          Created Classes
          <ul>
            <li>Edit Class Name of class</li>
            <li>Edit Subject</li>
            <li>Create Assignments</li>
            <li>Give notice to whole classes</li>
            <li>Can remove any student from the class</li>
            <li>Can remove whole class</li>
          </ul>
        </li>
        <br />
        <li>
          Joined Classes
          <ul>
            <li>Edit Teacher Name in class</li>
            <li>Edit Subject</li>
            <li>Submit Assignments</li>
            <li>See notices by instructor</li>
            <li>Can leave class.</li>
          </ul>
        </li>
        <br />
        <li><b>User can change name from the Profile Section</b></li>
      </ul>
    </div>
  </div>
  <div class="row mt-3 mb-5">
    <div class="col-md-12 mt-5 p-3" style="text-align: center">
      <p>
        Designed and Developed by Yash Kumar Saini<br />
        © 2021 All Rights Reserved.
      </p>
    </div>
  </div>
</div>
